/* General reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flexbox;
}
title {
    font-family: 'Satoshi', sans-serif !important;
    background-color: #ffffff;
    font-size: larger;
    color: #000000;
    line-height: 1.6;
}


img {
   width: 600px ;
}
img:hover {
    mix-blend-mode: difference;
 }
 
body {
    background-image: url('/indx/bg.JPG');
    background-size: cover;
    /* background-position: Window; */
     font-family: 'Satoshi', sans-serif !important;
    color: #ffffff;
    line-height: 1.6;

   
}

/* Header styles */
header {
   
    color: #e92b0d;
    text-align: center;
    padding: 10px 0;
}

/* Header title */
header h1 {
    font-family: 'Satoshi', sans-serif !important;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}
div {
    stroke: #ffffff ;
    fill: #ffffff;

 }
h2 {
    font-family: 'Satoshi', sans-serif !important;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 10px;
}

/* Link styles for the second HTML file */
a {
    font-family: 'Satoshi', sans-serif !important;
    font-weight: lighter;
    text-decoration: none;
    color: #ffffff;  /* Default link color */
    padding: 0px 10px;
    /* background-color: #ffffff; */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    /* background-color: #ffffff;   */
    color: rgb(233, 29, 18);  
    font-style: oblique;
}

/* List style for navigation links */
ul {
    list-style-type:none;
    margin: 5px 0;
}

li {
    margin: 5px 0;
}

ul li a {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

/* Main section styling */
main {
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Section for the p5.js canvas container */
#sketch-container {
    width: 100%;
    height: 400px;
    margin: 10px 0;
}
